
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
}